:root {
	
	--bg: linear-gradient(#000, #1f1d2b);
	--bg-card: #252836;
	
	--gray-900: #181719;
	--gray-700: #2f2f31;
	--gray-500: #56565a;
	--gray-300: #717175;

	--white: #ffff;
	--black: #0000;

	--pink: #ef11ad;
	--blue: #0a849a;

	--font-family: 'Nunito', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	font-family: var(--font-family);
	box-sizing: border-box;
	text-decoration: none;
}

body {
	display: grid;
	grid-template-columns: 1fr 3fr 2fr;
	background: var(--bg);
	background-attachment:fixed;
	overflow: hidden;
	height:100%;
}

.sidebar {
	display: flex;
	flex-direction: column;
	background: transparent;
	height: 100%;
}

.sidebar .logo-container {
	margin: 1.5rem auto 1.5rem 2.5rem;
}

.sidebar .navbar-brand {
	color: var(--white);
	font-weight: 700;
	opacity: 0.85;
}

.sidebar .navbar-brand span{
	color: var(--pink);
	font-size: 2rem
}

.sidebar img {
	height: 30px;
	width: 30px;
}

.sidebar .links {
	text-decoration: none;
	color: var(--gray-300);
	font-size: 1rem;
	
	margin-left: 2.5rem;
	margin-top: 2.5rem;
}

.sidebar .links:hover {
	color: var(--white);
	opacity: 0.9;
	margin-left: 2rem;
	
	transition: 0.3s
}

.fa-home, .fa-circle-notch, 
.fa-money-bill-wave, .fa-stream,
.fa-sign-out-alt {
	margin-right: 1rem
}

section {
	display: flex;
	
	margin: 8rem 3rem
}

.card {
	width: 20rem;
	max-height: 8rem;
	
	display: flex;
	
	background: var(--bg-card);
	
	margin: 0.75rem 1rem;
	
	border-radius: 25px
}


.card a {
	display: block;
	text-align: right;
	margin: 2.5rem 1.5rem;
	
	text-decoration: none;

	font-size: 1.5rem;
	font-weight: 700;
	color: var(--white);
	opacity: 0.8
	
}

.card img {
	width: 300px;
	height: 100px;
	display: block;
	position: absolute;
	left: -4rem;
	top: 0.5rem
}

.notification {
	height: 70vh;
	width: 23rem;
	
	top: 5.5rem;
	right: 2rem;
	
	position: fixed;
}

.notification h2 {
	font-size: 1.5rem;
	font-weight: 700;
	color: var(--white);
	margin: 1.5rem auto 1rem 1.5rem
}

.notification div {
	margin: 0 0.75rem
}