<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org/"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html"/>
		<meta name="viewport" content="width=device-width" />
		<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/styleHome.css" />

		<title>Home | bgImobiliaria</title>
	</head>
	<body>
		<div th:insert="Sidebar"></div>
		
		<section>
				<div class="wrapper">
					<h1>Encontre seu novo imóvel agora mesmo!</h1>
					<div class="card card-homepage mb-3">
					  <a href="/imoveis">
					      <img src="images/imoveis.svg" alt="Imóveis">
					    Imóveis
					  </a>
					</div>
				</div>
				<div class="image-wrapper">
					<img src="/images/homepage.svg" alt="" />
				</div>
		</section>
	</body>
</html>